:root{
    --fuente: 'Unbounded', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente);
    background-color: rgb(77, 37, 113);
    color: white;
}

body h1{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
}

#items{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

/*.container{
    
    justify-content: center;
    align-items: center;
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    
}*/

.card{
    background-color: rgb(118, 69, 140);
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    width: 500px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    position: relative;
    margin-bottom: 3rem;
}

.imagen{
    flex: 0 0 40%;
    position: relative;
}

.imagen img{
    display: block;
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contenido{
    flex: 1;
    padding: 30px 20px 20px 30px;
    margin-top: 15px;
}

.contenido .section h4{
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 3px;
}

.contenido .section p.ubi{
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

.contenido .section p.loca{
    margin-top: 5px;
    font-size: 14px;
}

.estado, .especie{
    font-size: 14px;
}